
body {
    background: linear-gradient(to right, #232526, #414345);
    font-family: Arial;
    text-align: center;
    color: white;
}
h1 {
    margin-top: 20px;
}
.camera-box {
    border: 5px solid white;
    width: 640px;
    margin: 30px auto;
    border-radius: 15px;
}
img {
    width: 100%;
    border-radius: 15px;
}
